:root {
    --main-lightblue: #edf7f7;
    --main-hotpink: #e303fc;
    --main-black: #000000
}

* {
    box-sizing: border-box;
}

body {
    font-family: fantasy, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.3rem;
    background-color: var(--main-lightblue);   
    width: 100%;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.view-high-scores {
    color: var(--main-hotpink);
    flex: 50%;
    text-decoration: underline;
}

.timer {
    flex: 50%;
    text-align: right;
    font-weight: bold;
}

.home-page {
    text-align: center;
    margin-top: 50px;
    padding: 25px;
}

.home-page p {
    margin-bottom: 50px;
    line-height: 2;
}

.home-page input[type="button"] {
    width: 150px;
    padding: 5px;
    text-align: center;
    background-color: var(--main-hotpink);
    color: var(--main-lightblue);
    border: 3px solid var(--main-black);
    border-radius: 25px;
    text-shadow: 5px 5px 10px var(--main-black);
    box-shadow: 5px 5px 10px var(--main-black);
}

.home-page input[type="button"]:hover {
    box-shadow: 5px 5px 10px var(--main-hotpink);
    background-color: hsl(294, 96%, 40%);
}

.question {
    display: none;
}

.question-header {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.question-body {
    padding-left: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#quiz {
    display: none;
}

.choice-btn {
    background-color: var(--main-hotpink);
    color: var(--main-lightblue);
    border-radius: 10px;
    border: 2px solid var(--main-black);
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.4rem;
    padding: 10px;
    width: 50%;
    box-shadow: 3px 3px 10px var(--main-black);
}

.choice-btn:hover {
    box-shadow: 5px 5px 10px var(--main-hotpink);
    background-color: hsl(294, 96%, 40%);
}

.choice-btn:active {
    background-color: hsl(294, 99%, 29%);
}