/* variables to store the colors to be used */
:root {
    --main-lightblue: #edf7f7;
    --main-hotpink: #e303fc;
    --main-black: #000000
}
/* selecting all elements */
* {
    box-sizing: border-box;
}

/* element selectors */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.3rem;
    background-color: var(--main-lightblue);   
    width: 100%;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    
}

main {
    display: flex;
    justify-content: center;
}

footer {
    margin-bottom: 50px;
}

/* class selectors */
.view-high-scores {
    color: var(--main-hotpink);
    flex: 50%;
    text-decoration: underline;
    font-weight: bold;
}

.timer {
    flex: 50%;
    text-align: right;
    font-weight: bold;
}

.home-page {
    text-align: center;
    margin-top: 50px;
    padding: 25px;
}

.home-page p {
    margin-bottom: 50px;
    line-height: 2;
}

.home-page input[type="button"] {
    width: 150px;
    padding: 5px;
    text-align: center;
    background-color: var(--main-hotpink);
    color: var(--main-lightblue);
    border: 3px solid var(--main-black);
    border-radius: 25px;
    text-shadow: 5px 5px 10px var(--main-black);
    box-shadow: 5px 5px 10px var(--main-black);
}

.home-page input[type="button"]:hover {
    box-shadow: 5px 5px 10px var(--main-hotpink);
    background-color: hsl(294, 96%, 40%);
}

.question {
    display: none;
}

.question-header {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
}

hr.underline {
    border-bottom: 5px solid var(--main-black);
    display: inline-table;
    width: 40%
}

.question-body {
    padding-left: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.scores-list {
    background-color: bisque;
}

input[type='text'] {
    margin-left: 10px;
    text-transform: uppercase;
}

.view-result-btn{
    position: relative;
    left: 285px;
    top: 15px;
    border-radius: 10px;
    border: 2px solid var(--main-black);
    padding: 5px;
    background-color: var(--main-hotpink);
    color: var(--main-lightblue);
    text-shadow: 5px 5px 10px var(--main-black);
    box-shadow: 5px 5px 10px var(--main-black);
}

.view-result-btn:hover {
    box-shadow: 5px 5px 10px var(--main-hotpink);
    background-color: hsl(294, 96%, 40%);
}

.view-result-btn:active {
    background-color: hsl(294, 99%, 29%);
}

.view-high-scores-btn {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--main-black);
    background-color: var(--main-hotpink);
    color: var(--main-lightblue);
    text-shadow: 5px 5px 10px var(--main-black);
    box-shadow: 5px 5px 10px var(--main-black);
}

.view-high-scores-btn:hover {
    box-shadow: 5px 5px 10px var(--main-hotpink);
    background-color: hsl(294, 96%, 40%);
}

.view-high-scores-btn:active {
    background-color: hsl(294, 99%, 29%);
}

.choice-btn {
    background-color: var(--main-hotpink);
    color: var(--main-lightblue);
    border-radius: 10px;
    border: 2px solid var(--main-black);
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.4rem;
    padding: 10px;
    width: 50%;
    box-shadow: 3px 3px 10px var(--main-black);
}

.choice-btn:hover {
    box-shadow: 5px 5px 10px var(--main-hotpink);
    background-color: hsl(294, 96%, 40%);
}

.choice-btn:active {
    background-color: hsl(294, 99%, 29%);
}

/* id selector */
#display-result {
    justify-content: center;
}

#quiz {
    display: none;
}

/* Responsive css rules */
/* handles desktop */
@media screen and (min-width: 998px) {
    .view-result-btn {
        left: 25px;
        bottom: 0;
        top: 0;
    }
    .choice-btn {
        width: 35%;
    }
}

/* handle small phones and tablets */
@media screen and (min-width: 400px) {
    .view-result-btn {
        left: 5px;
        bottom: 0;
        top: 0;
        
    }

}